{% load static %}
<html>
	<head>
	<link href="{% static 'themes/vecto/style.css' %}" rel="stylesheet" type="text/css" >
 	<!link rel="stylesheet" type="text/css" href="{{ theme_url }}/style.css" />

	</head>
    <body>
    <h1>Base File for `vecto` theme</h1>
    <p>
        It is good practice to extend templates from a `base` template which contains
        page layout. current base file is loaded from
        <code>themes/base.html</code> 
    </p>
    
    {% block content %}
        <p>the default-theme default content</p>
    {% endblock %}
    </body>
</html>
