/*HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}

ol, ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

button, input, select, textarea {
	width:auto;
	overflow:visible;
	margin:0;
	font-size:100%;
	vertical-align:baseline;
}

textarea {
	overflow:auto;
	vertical-align:text-top;
}

/* =Horizontal Rule
-------------------------------------------------------------- */
hr {
	background:#ddd;
	border:none;
	clear:both;
	color:#ddd;
	float:none;
	height:.1em;
	margin:0 0 1.45em;
	width:100%;
}

hr.space {
	background:#fff;
	color:#fff;
}

/* =Base
-------------------------------------------------------------- */
html {
	height:100%;
}

body {
	-webkit-font-smoothing:antialiased;
	background:#efefef url(images/bg.jpg) no-repeat center top;
	color:#404040;
	font-family: "Tahoma", "Arimo", Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:1.5em;
	text-rendering:optimizeLegibility;
}

/* =Typography
-------------------------------------------------------------- */
p {  
    word-wrap:break-word;
}

cite, em, dfn {
	font-style:italic;
}

code, kbd, samp, pre, tt, var {
	font-family:Consolas, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	font-style:normal;
}

strong {
	font-weight:700;
}

pre {
	background:#fff;
	margin-top:20px;
	max-width:98%;
	padding-left:1em;
	height:auto;
}

del {
	color:#555;
	text-decoration:line-through;
}

ins, dfn {
	border-bottom:1px solid #ccc;
}

small, sup, sub {
	font-size:85%;
}

abbr, acronym {
	font-size:85%;
	letter-spacing:.1em;
	text-transform:uppercase;
}

a abbr, a acronym {
	border:none;
}

abbr[title], acronym[title], dfn[title] {
	border-bottom:1px solid #ccc;
	cursor:help;
}

sup {
	vertical-align:super;
}

sub {
	vertical-align:sub;
}
